.topnav {
  background-image: linear-gradient(to right, #ff4e44 , #aa0016);
  overflow: hidden;
  font-family: Helvetica;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 15px;
  font-style: bold;
  font-family: sans-serif;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #f72c2c;
  font-family: sans-serif;
  text-decoration: none;
  color: white;
}

/* Add a color to the active/current link */
.topnav a.active {
font-family: sans-serif;
  background-color: #3f3f3f;
  text-decoration: none;
  color: white;
}
.topnav a.active:hover {
font-family: sans-serif;
  background-color: #282828;
  text-decoration: none;
  color: white;
}
.topnav a.apply {
font-family: sans-serif;
  background-color: #e23100;
  text-decoration: none;
  color: white;
}
.topnav a.apply:hover {
  font-family: sans-serif;
  text-decoration: none;
  background-color: #ff450c;
  color: white;
}
